<div>
    <div class="taskDetails">
        <p>
            <strong>Name:</strong>
            <%= task.name %>
        </p>
    </div>
    <div class="taskDetails">
        <p>
            <strong>Notes:</strong>
            <%= task.notes %>
        </p>
    </div>
    <div class="taskDetails">
        <p>
            <strong>Due Date:</strong>
            <%= task.due_date %>
        </p>
    </div>
    <div class="taskDetails">
        <p>
            <strong>Complete:</strong>
            <%= task.complete %>
        </p>
    </div>
    <div class="bottomLinks">
        <div class="inline">
            <%= link_to "Edit", edit_category_task_path(@category, task) %>
        </div>
        <div class="inline">
            <%= link_to "Delete", [ task.category, task ],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
        </div>
    </div>
</div>