<div class="allTasks">
    <div class="leftInline">    
        <div class="inline">
            <%# checkbox %>
            <%= form_with class: "checkbox", model: [ task.category, task ] do |f| %>
                <%= f.check_box :complete, class: "checkbox", onchange: "this.form.submit();" %>
            <% end %>
        </div>
        <% if task.complete %>
            <div style="color:white;"><s><%= task.name %></s></div>
        <% else %>
            <%= task.name %>
        <% end %>
    </div>

    <div class="rightInline">
        <div class="inline">
            <%= link_to "Show", category_task_path(@category, task) %>
        </div>
        <div class="inline">
            <%= link_to "Edit", edit_category_task_path(@category, task) %>
        </div>
        <div class="inline">
            <%= link_to "Delete", [ task.category, task ],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
        </div>
    </div>
    
</div>