<%= render "html_header" %>
<%= render "html_sidebar" %>

<div class="mainContainer">
<h1>Today's Tasks</h1>

<div>
<% @today.each do |task| %>    
    <p>
        <strong>Category:</strong>
        <%= task.category.title %>
    </p>
    <p>
        <strong>Task name:</strong>
        <%= task.name %>
    </p>

    <p>
        <strong>Notes:</strong>
        <%= task.notes %>
    </p>

    <p>
        <strong>Due Date:</strong>
        <%= task.due_date %>
    </p>
<% end %>
</div>
</div>

            <a>
                <%= link_to "Back", categories_path, class: "button is-link" %>
            </a>