<%= render "html_header" %>
<%= render "html_sidebar" %>

<div class="mainContainer">

    <div class="pageTitleContainer">
        <div class="pageTitle">categories</div>
    </div>

    <div class="mainSubContainer">
        <% @categories.each do |category| %>
            <div class="categoryContainer">
                <%= link_to category.title, category, class: "category-name" %>

                <div class="smallLinkContainer">
                    <div class="smallLink">
                        <%= link_to "Edit", edit_category_path(category) %>
                    </div>
                    <div class="smallLink">
                        <%= link_to "Delete", category_path(category),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
                    </div>
                </div>
            </div>
        <% end %>

        <div class="categoryContainer">
            <%= link_to "+", new_category_path %>
        </div>
    </div>
</div>