<div class="navBar">
    <div class="websiteName">   
        <%= link_to "pokus", categories_path %>
    </div>
    <div class="navLinks">
        <% if user_signed_in? %>
            <div class="navLink1">
                <%= link_to current_user.email, edit_user_registration_path %>
            </div>
            <div class="navLink2">
                <%= link_to "log out", destroy_user_session_path, method: :delete %>
            </div>
        <% else %>
            <div class="navLink1">
                <%= link_to "sign up", new_user_registration_path %>
            </div>
            <div class="navLink2">
                <%= link_to "log in", new_user_session_path %>
            </div>
        <% end %>
    </div>
</div>